<div class="matchBlock">
    <div class="matchBlock__upper-buttons">
        <button id='match__message-button'>
            <img src="./static/images/MsgDark.png">
                <div class="matchBlock__upper-buttons_button-text">Message</div> 
        </button>
        <button id='match__match-button'>
            <img src="./static/images/cardsLight.png" class="userIcon__info-location-png" alt="location">
                <div class="matchBlock__upper-buttons_button-text">Match</div>
        </button>
    </div>
    <div class="wrapper">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </div>
</div>
