<div class="mainPage">
    <div class="mainPage__userIcon">
        {{> '../../components/userIcon/userIcon.hbs'}}
    </div>
    <div class="mainPage__matchBlock">
        {{> '../../components/matchBlock/matchBlock.hbs'}}
    </div>
    <div class="mainPage__messageBlock">
        {{> '../../components/messageBlock/messageBlock.hbs'}}
    </div>
    <div class="mainPage__changeForm">
        {{> '../../components/changeForm/changeForm.hbs'}}
    </div>
    <div class="mainPage__userMessageBlock">
        {{> '../../components/userMessageBlock/userMessageBlock.hbs'}}
    </div>
    <div class="mainPage__feedInfoCard">
        {{> '../../components/feedInfoCard/feedInfoCard.hbs'}}
    </div>
    <div class="mainPage__feedPhotoCard">
        {{> '../../components/feedPhotoCard/feedPhotoCard.hbs'}}
    </div>
</div>