@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex-container($flexDirectionProperty) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flexDirectionProperty;
}

@mixin grid-position($column-start, $column-end, $row-start, $row-end) {
    grid-column-start: $column-start;
    grid-column-end: $column-end;
    grid-row-start: $row-start;
    grid-row-end: $row-end;
}

.mainPage {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    @include size(100%, 100vh);
    background: $content-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(4, 250px);
    grid-column-gap: 1em;
}

.mainPage__userIcon {
    @include grid-position(1, 1, 1, 1);
    align-self: center;
}

.mainPage__messageBlock {
    transition: opacity 1s;
    @include grid-position(1, 1, 2, 4);
    align-self: flex-start;
}

.mainPage__matchBlock {
    @include grid-position(1, 1, 2, 4);
    align-self: flex-start;
    display: none;
    transition: opacity 1s;
}

.mainPage__changeForm {
    @include grid-position(1, 1, 2, 4);
    align-self: flex-start;
    display: none;
    transition: opacity 1s;
}

.mainPage__userMessageBlock {
    @include grid-position(1, 1, 2, 5);
    align-self: flex-start;
    display: none;
    transition: opacity 1s;
}

.mainPage__feedPhotoCard {
    @include grid-position(2, 2, 1, 5);
    align-self: center;
}

.mainPage__feedInfoCard {
    @include grid-position(3, 3, 1, 4);
    align-self: center;
}

// Active classes

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}
