@mixin flex-container($flexDirectionProperty) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flexDirectionProperty;
}

@mixin text-styles($fontSize, $marginBottom) {
    font-size: $fontSize;
    margin-bottom: $marginBottom;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin button-inputs-style() {
    border-radius: 15px;
    overflow: none;
    cursor: pointer;
    text-decoration: none;
}

.login {
    @include flex-container(column);
    @include size(700px, 630px);
    background-color: $bg-color-light;
    border-radius: 28px;
}

.login__logo-container, .signup__logo-container {
    @include flex-container(column);
}

.login__logo-text, .signup__logo-text {
    @include text-styles(36px, 0px);
    margin-top: -12px;
    background: $logo-text-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: $font-weight-medium;
    letter-spacing: 1%;
}

.login__register-container_text, .signup__signin-container_text {
    @include text-styles(18px, 25px);
    font-weight: $font-weight-medium;

    a {
        text-decoration: none;
        color: $link-register-color;
        opacity: 75%;
        margin-left: 20px;
    }

    a:hover {
        opacity: 90%;
    }
}

.login__login-form, .signup__signup-form {
    @include flex-container(column);
    margin: 18px 0;
}

.error {
    width: 515px;
    text-align: center;
    color: $error-color;
    visibility: visible;
}

.input {
    @include size(515px, 52px);
    @include text-styles(18px, 10px);
    @include button-inputs-style();
    border: $input-border;
    opacity: 50%;
    padding-left: 20px;
    color: $color-dark;
    outline: none;
}

.input:hover {
    border: $input-hover-border;
}

.input:focus {
    border: $input-focus-border;
}

.login__submit-button, .signup__submit-button {
    @include text-styles(22px, 8px);
    @include size(535px, 52px);
    @include flex-container(row);
    @include button-inputs-style();
    margin-top: 16px;
    font-weight: $font-weight-medium;
    border: none;
    color: $bg-color-light;
    background: $button-bg-gradient;
}

.login__submit-button:hover, .signup__submit-button:hover {
    background: $button-bg-gradient-hover;
}

.login__login-text, .signup__signup-text {
    @include text-styles(18px, 10px);
    margin-top: 14px;
    font-weight: $font-weight-medium;
    color: $form-text-color;
}

@media screen and (max-width: 1150px) {
    .login {
        @include size(620px, 590px);
    }

    .input {
        @include size(470px, 46px);
    }

    .login__submit-button, .signup__submit-button {
        @include size(494px, 50px);
    }

    .login__register-container_text, .signup__signin-container_text {
        @include text-styles(16px, 20px);
    }

    .login__logo-text, .signup__logo-text {
        @include text-styles(28px, 0px);
    }
}

@media screen and (max-width: 850px) {
    .login {
        @include size(520px, 560px);
    }

    .input {
        @include size(380px, 40px);
        border-radius: 10px;
    }

    .login__submit-button, .signup__submit-button {
        @include size(404px, 44px);
        font-size: 18px;
        border-radius: 10px;
    }

    .login__register-container_text, .signup__signin-container_text {
        @include text-styles(16px, 20px);
    }

    .login__logo-text, .signup__logo-text {
        @include text-styles(28px, 0px);
    }
}

@media screen and (max-width: 650px) {
    .login {
        @include size(420px, 560px);
    }

    .input {
        @include size(300px, 36px);
        border-radius: 10px;
        font-size: 14px;
    }

    .login__submit-button, .signup__submit-button {
        @include size(324px, 40px);
        font-size: 18px;
        border-radius: 10px;
    }

    .login__register-container_text, .signup__signin-container_text {
        @include text-styles(15px, 0px);
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            margin-left: 0;
            margin-top: 6px;
        }
    }

    .login__logo-text, .signup__logo-text {
        @include text-styles(26px, 0px);
    }

    .login__login-text, .error {
        font-size: 16px;
    }

    .login__login-form, .signup__signup-form {
        margin: 14px 0;
    }
}

@media screen and (max-width: 500px) {
    .login {
        @include size(360px, 540px);
    }

    .input {
        @include size(270px, 36px);
        font-size: 14px;
    }

    .login__submit-button, .signup__submit-button {
        @include size(294px, 40px);
        font-size: 18px;
    }
}