<div class="userIcon">

    <img src="./static/images/avatar.png", class='userIcon__avatar'>

    <div class="userIcon__info-box">
        <div class="userIcon__info-box__personal">
            <div class="userIcon__info-text">{{name}}, {{age}}</div>
            <div class="userIcon__info-box__personal-location">
                <img src="./static/images/location.png" class="userIcon__info-location-png" alt="location">
                <div class="userIcon__info-text">{{location}}</div>
            </div>
        </div>
        <div class="userIcon__info-box__settings">
            <img src="./static/images/settings.png" class="userIcon__info-settings-png" alt="settings">
            <button id='edit-button', class="userIcon_edit-button">Edit Profile</button>
        </div>
    </div>
</div>
