$settings-link-color: #797979;
$light-bg-color: #dadada;
$button-dark-color: #9589b9;
$message-bg-color: #ececec;
$error-color: #cf5151;
$text-dark-color: #504a71;
$color-dark: #000;
$bg-color-light: #fff;
$form-text-color: #696969;
$link-register-color: #30f;
$input-border: 1px solid #594c74;
$input-hover-border: 1px solid #32254d;
$input-focus-border: px solid #281a44;

$box-shadow: 0 0 10px 0 rgb(139 122 228 / 40%);
$input-border-color-hover: rgb(139 122 228 / 30%);
$input-border-color: rgb(139 122 228 / 50%);
$focus-border-color: rgb(139 122 228 / 65%);
$content-bg-color: radial-gradient(
  55.42% 55.42% at 50%·50%,
  #a488df 0%,
  #1c1738 95.11%
);
$button-bg-gradient: linear-gradient(45deg, #9f93e3, #8067ef, #6843fd);
$button-bg-gradient-hover: linear-gradient(45deg, #7e6fd6, #6548e9, #542afd);
$overlay-gradient: radial-gradient(#5a476e, #000);
$logo-text-gradient: linear-gradient(#000 30%, #8955fa);
$form-button-gradient: linear-gradient(45deg, #9f93e3, #8067ef, #6843fd);
$form-button-gradient-hover: linear-gradient(45deg, #7e6fd6, #6548e9, #542afd);

$font-weight-medium: 500;
$font-weight-semibold: 600;
